.navbar{
    background-color: rgb(235,145,0);
}
input[type=checkbox] {
    transform: scale(1.2);
}
.form-label{
    font-weight:bold;
    font-size: large;
}
.white_image{
  filter: brightness(0) invert(1);
}
.img_flag{
    margin-right: 1rem;
    height: 1rem;
}
.dropdown-item.active{
    background-color:#808080 !important;

}

.btn:focus {
    border-color: white;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 105, 217, 0.6);
}
